.profile-parent {
    /* margin: 50px 0 0 12%; */
    padding-top: 100px;
}

.primary-text {
    font-size: 24px;
    /* color: #807F80; */
}

#profile-role-text {
    font-size: 60px;
    color: #2b2829 !important;
    height: 100px;
}

.profile-role-tagline {
    font-size: 16px;
    color: #a5a5a5;
}

.myButton {
    background-color: #662ece !important;
    border: none !important;
    margin-right: 10px;
}