#nav-top {
    position: fixed;
    background-color: #D8D7D8;
    width: 100%;
    border-bottom: 1px solid #807F80;
    z-index: 500;
}

.nav-top-link {
    font-size: 16px !important;
}
  
.nav-top-link:hover {
    color: black;
}
  
.nav-heading {
    font-size: 24px !important;
    color: #3F3D3F !important;
}